.res-demo1 {
  width: 45%;
  height: 15%;
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 1;
}
.res-demo2 {
  position: absolute;
}
.res-img {
  width: 460px;
  height: 590px;
  margin: 0 auto;
  position: relative;
}
